spring:
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:5432/order_db

feign:
  client:
    config:
      default:
        connectTimeout: 5000
        readTimeout: 5000
        loggerLevel: full

logging:
  level:
    feign: DEBUG

